@font-face {
	font-family: 'Born2bSportyFS.woff';
	font-display: swap;
	src: url("../fonts/Born2bSportyFS.woff") format("woff"), url("../fonts/Born2bSportyFS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PIXY.woff2';
	font-display: swap;
	src: url("../fonts/PIXY.woff") format("woff"), url("../fonts/PIXY.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Born2bSportyFS.woff2';
	font-display: swap;
	src: url("../fonts/Born2bSportyFS.woff") format("woff"), url("../fonts/Born2bSportyFS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PIXY.woff';
	font-display: swap;
	src: url("../fonts/PIXY.woff") format("woff"), url("../fonts/PIXY.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
